// Check documentation for full list of Quasar variables
// https://quasar.dev/style/sass-scss-variables#variables-list

$primary: #4a4e69;
$secondary: #9a8c98;
$accent: #c9ada7;

$dark: #22223b;
$dark-page: #4a4e69;

$positive: #10aa83;
$negative: #e75e51;
$info: #6c64fc;
$warning: #f4d261;

$light: #fdfdfd;
$text-light: #f2e9e4 !important;
